html {
  box-sizing: border-box;
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-text-color);
  background-color: var(--main-text-color);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--main-text-color);

  // &:hover { background-color: rgb(43, 41, 41) }
  &:hover { background-color: var(--main-bg-color); }
}

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%;
}

h1 { font-size: var(--h1-font-size); }

h2 {font-size: var(--h2-font-size); }

h3 {font-size: var(--h3-font-size); }