:root {
  --main-font: 'Open Sans';
  --alternate-font: sans-serif;
  --font-size: 16px;
  --line-height: 1.6;
  --h1-font-size: 2.75rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --regular-font-weight: 400;
  --extra-bold-font-weight: 800;
  --main-text-color: #F5F0ED;
  --second-text-color: #3C3C3B;
  --main-bg-color: #D03B40;
  --second-bg-color: #DED6C0;
  --alternate-bg-color: #241D1B;
  --max-width: 1200px;
  --header-height: 6rem;
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
  --padding-container: 1em; }
  @media screen and (min-width: 720px) {
    :root {
      --padding-container: 1.5em; } }

/*----------  Mixin flexbox responsive  ----------*/
/*----------  Placeholders  ----------*/
.main-header__content h1::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 100px;
  height: 2px;
  background-color: #fff;
  transform: translateX(-50%); }

/*----------  Class utilities  ----------*/
.center, .l-container {
  margin-left: auto;
  margin-right: auto; }

.uppercase {
  text-transform: uppercase; }

.red {
  background-color: var(--main-bg-color);
  color: var(--second-bg-color); }

.gray {
  background-color: var(--second-bg-color);
  color: var(--main-bg-color); }

html {
  box-sizing: border-box;
  font-family: var(--main-font), var(--alternate-font);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--main-text-color);
  background-color: var(--main-text-color); }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
  color: var(--main-text-color); }
  a:hover {
    background-color: var(--main-bg-color); }

img {
  display: block;
  width: 100%;
  height: auto;
  max-width: 100%; }

.l-container {
  max-width: var(--max-width);
  padding-left: var(--padding-container);
  padding-right: var(--padding-container); }

.main-header {
  --height-container: 465px;
  position: relative;
  height: var(--height-container);
  text-align: center; }
  @media screen and (min-width: 64em) {
    .main-header {
      --height-container: 660px; } }
  .main-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover; }
  .main-header__content {
    position: relative; }
    .main-header__content h1 {
      max-width: 365px;
      position: relative;
      margin-bottom: 3rem; }
    .main-header__content p {
      color: var(--second-bg-color);
      max-width: 520px; }
  .main-header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height); }
    .main-header-top__logo {
      width: 200px;
      object-fit: none;
      object-position: 0 -5px; }
  @media screen and (min-width: 64em) {
    .main-header-bottom {
      padding-top: 8rem; } }

.welcome {
  display: flex;
  flex-wrap: wrap;
  text-align: center; }
  .welcome > * {
    flex: 1 1 100%; }
  .welcome-article {
    padding: 2.5rem 0; }
    @media screen and (min-width: 64em) {
      .welcome-article {
        flex: 1 1 50%;
        padding: 6.5rem 0; } }
    .welcome-article__title {
      max-width: 260px;
      margin-bottom: 1rem; }
    .welcome-article__description {
      max-width: 290px; }

.hamburguer-button {
  --square: 3em;
  width: var(--square);
  height: var(--square);
  background-color: var(--main-bg-color);
  position: relative;
  cursor: pointer; }
  .hamburguer-button::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 75%;
    height: 55%;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(var(--second-bg-color) 20%, transparent 20%, transparent 40%, var(--second-bg-color) 40%, var(--second-bg-color) 60%, transparent 60%, transparent 80%, var(--second-bg-color) 80%); }
  @media screen and (min-width: 64em) {
    .hamburguer-button {
      display: none; } }

.main-nav {
  position: fixed;
  top: var(--header-height);
  right: -100%;
  z-index: var(--z-fixed);
  transition: right .5s;
  width: 80vw;
  height: 100vh;
  background-color: #000; }
  @media screen and (min-width: 64em) {
    .main-nav {
      position: static;
      height: auto;
      width: auto;
      background-color: transparent; } }

.hamburguer-menu {
  list-style: none;
  text-align: left; }
  @media screen and (min-width: 64em) {
    .hamburguer-menu {
      display: flex; } }
  .hamburguer-menu__link {
    display: block;
    border-bottom: 0.5px solid var(--second-bg-color);
    padding: 2rem 1rem;
    font-weight: var(--extra-bold-font-weight);
    transition: background-color .3s; }
    @media screen and (min-width: 64em) {
      .hamburguer-menu__link {
        border-bottom: none;
        padding: 0 1rem; }
        .hamburguer-menu__link:hover {
          background-color: rgba(0, 0, 0, 0.9); } }

.is-show {
  right: 0; }
