.main-header {
  --height-container: 465px;
  position: relative;
  height: var(--height-container);
  text-align: center;

  @include mq(l) {
    --height-container: 660px;
  }

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: relative;
    
    h1 {
      max-width: 370px;
      position: relative;
      margin-bottom: 3rem;

      &::after {
        @extend %line-pseudo;
      }
    }

    p {
      color: var(--second-bg-color);
      max-width: 520px;
    }
  }

  &-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    // background-color: yellow;

    &__logo {
      width: 200px;
      // height: 40px;
      object-fit: none;
      object-position: 0 -5px;
    }

    &__hamburguer-button {

    }
  }

  &-bottom {
    @include mq(l) {
      padding-top: 8rem;
    }
  }
}

