.welcome {
  @include flex-responsive(100%);
  text-align: center;

  &-article {
    padding: 2.5rem 0;

    @include mq(l) {
      flex: 1 1 50%;
      padding: 6.5rem 0;
    }

    &__title {
      max-width: 302px;
      margin-bottom: 1rem;
    }

    &__description { max-width: 290px; }
  }
}