/*----------  Placeholders  ----------*/
%line-pseudo {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20%;
  width: 100px;
  height: 2px;
  background-color: #fff;
  transform: translateX(-50%);
}

/*----------  Class utilities  ----------*/

.center {
  margin-left: auto;
  margin-right: auto;
}

.uppercase {
  text-transform: uppercase;
}

.red {
  background-color: var(--main-bg-color);
  color: var(--second-bg-color);
}

.gray {
  background-color: var(--second-bg-color);;
  color: var(--main-bg-color);
}